@using Store.Models
@{
    ViewBag.Title = "Home Page";
}

<div class="row">

    @if (ViewData["currentUser"] != null)
    {
        var user = (User)ViewData["currentUser"];
        <h2>Currently logged in user: @user.UserName</h2>
    }
</div>


<div class="row">

    @foreach (var user in (List<User>)ViewData["users"])
    {
        <h2>@user.UserName</h2>
    }
</div>