@using Store.Models
@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-lg-3">
        <h4>Latest products: </h4>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        @foreach (var product in Model)
                        {
                            <tbody>
                                <tr>
                                    <td>@product.Name</td>
                                    <td>@product.Description</td>
                                </tr>
                            </tbody>

                        }
                    </table>
                </div>
            </div>

        </div>

    </div>
</div>
