@model Store.ViewModels.ShopViewModel

<div class="row">
    <div class="col-sm-3">
        <h3 class="text-center">Categories</h3>
        <section class="buttons">
            <a href="/Shop/Index/" class="draw meet">
                <span>All</span>
            </a>
            @foreach (var category in Model.Categories)
            {
                <a href="/Shop/Index/?category=@category.Name" class="draw meet">
                    <span>@category.Name</span>
                </a>
            }
        </section>
    </div>
    <div class="col-md-9">
        <div class="row">
            @Html.DisplayFor(m => m.Products)
        </div>
    </div>
</div>

